#############GENERAL##############
/ccache
/source/server/*.*
/thirdparty/extension/make_proto_compiled/_out/
/client/data/errors_list
client/pack/*.eix
client/pack/*.epk
client/m2_x86_Release.exe
client/m2_x86_Release.pdb
##########################################

*.idb
*.plog
*.pdb
*.bak
*.rar

/tools/bin/
